:root {
    --lapis-lazuli: #33658aff;
    --carolina-blue: #86bbd8ff;
    --charcoal: #2f4858ff;
    --verdigris: #48a9a6ff;
    --light-sea-green: #20a39eff;
    --uranian-blue: #a4def9ff;
    --purpureus: #9649cbff;
    --periwinkle: #afbbf2ff;
    --mint-green: #d3fff3ff;
  }